body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.card-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.card {
  background: #fff;
}

/* Header */
.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-studio {
  color: #2e2f42;
}

.header-nav-menu {
  color: #2e2f42;
  font-weight: 500;
}

.header-nav-menu:hover,
.header-nav-menu:focus,
.header-nav-menu:active {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.header-contacts {
  color: #434455;
  font-weight: 400;
}

.header-contacts:hover,
.header-contacts:focus,
.header-contacts:active {
  color: #404bbf;
}

/* Main section */
.main-container {
  background: #2e2f42;
}

.main-cont-button {
  background: #4d5ae5;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.main-cont-button:hover,
.main-cont-button:focus,
.main-cont-button:active {
  background: #404bbf;
}

/* Team */
.team-container {
  background: #f4f4fd;
}

/* Footer */
.footer {
  background: #2e2f42;
  color: #f4f4fd;
}

.footer-logo-studio {
  color: #f4f4fd;
}
