:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --grewn: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background: var(--white);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  object-fit: cover;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 156px;
  margin-right: 156px;
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.section-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 72px;
}

.card-title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section {
  padding: 120px 0;
}

.flex {
  display: flex;
  gap: 24px;
}

/* Header */
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--iris);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-studio {
  color: var(--navy-blue);
}

.header-nav-menu {
  color: var(--navy-blue);
  font-weight: 500;
}

.header-nav-menu:hover,
.header-nav-menu:focus,
.header-nav-menu:active {
  color: var(--ocean);
}

.contacts {
  font-style: normal;
}

.header-contacts {
  color: var(--slate);
  font-weight: 400;
}

.header-contacts:hover,
.header-contacts:focus,
.header-contacts:active {
  color: var(--ocean);
}

/* Hero section */
.hero-container {
  background: var(--navy-blue);
  border-bottom: 1px solid var(--cornflower);
}

.hero-cont-button {
  background: var(--iris);
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  padding: 16px 32px;
  border: none;
}

.hero-cont-button:hover,
.hero-cont-button:focus,
.hero-cont-button:active {
  background: var(--ocean);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Team */
.team-container {
  background: var(--cloud);
}

.card {
  background: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Footer */
.footer {
  background: var(--navy-blue);
  color: var(--cloud);
}

.footer-logo-studio {
  color: var(--cloud);
}
